@for (course of courses(); track course.id) {
    <div class="course-card" #courseCard>
        <!-- Header -->
        <div class="course-header">
            <span class="course-title">{{ course.title }}</span>
        </div>

        <!-- Image -->
        <img class="course-image" [src]="course.iconUrl" alt="Course Image" />

        <!-- Description -->
        <div class="course-description">
            <p>{{ course.longDescription }}</p>
        </div>

        <!-- Actions -->
        <div class="course-actions">
            <button class="btn" [routerLink]="['courses', course.id]">
                VIEW COURSE
            </button>

            <button class="btn" (click)="onEditCourse(course)">EDIT</button>

            <img
                class="delete"
                src="/assets/icons/delete.svg"
                alt="Delete Button"
                (click)="onDeleteCourse(course)"
            />
        </div>
    </div>
}
