<loading/>

<div class="edit-course-form">
    <h3></h3>

    <div class="form-control">
        <label for="title">Course title:</label>
        <input placeholder="Enter course title" id="title"/>
    </div>

    <div class="form-control">
        <label for="description">Course description:</label>
        <textarea placeholder="Enter course description" id="description"> </textarea>
    </div>

    <div class="form-control">
        <label for="category">Course category:</label>
        <select id="category">
            <option value="BEGINNER">Beginners</option>
            <option value="INTERMEDIATE">Intermediate</option>
            <option value="ADVANCED">Advanced</option>
        </select>
    </div>

    <div class="form-control">
        <label for="image">Course image:</label>
        <input placeholder="Enter course title" id="image"/>
    </div>

    <div class="form-actions">
        <button class="btn">Save</button>

        <button class="btn" (click)="onClose()">Cancel</button>
    </div>
</div>
